$breakpoints: (
  "medium": 48rem, // 768px
  "large" : 64rem, // 1024px
  "ex-large": 90rem // 1440px
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// don't forget to import the mixin module by @use 'path of utils folder, eg. '../utils/' as u, at the beginning

// instead of @media(min-width: 48rem) {}
// @include u.breakpoint(medium) {}
