@use '../utils/' as u;

.hero {
  width: 100%;

  &-wrapper {
    justify-content: center;
  }

  &-text-container {
    width: 100%;
    max-width: 69.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-inline: 1.5rem;

    @include u.breakpoint(medium) {
      margin-top: 2.5rem;
    }

    @include u.breakpoint(ex-large) {
      padding: 0;
    }
  }

  &-text {
    border: solid 2px var(--color-off-white);
    padding: 1.5rem;

    @include u.breakpoint(medium) {
      max-width: min-content;
    }

    @include u.breakpoint(ex-large) {
      max-width: 40.5rem;
      padding: 2.5rem 2.875rem;
    }
  }
}

.content {
  padding: 6rem 1.5rem;

  @include u.breakpoint(ex-large) {
    padding: 10rem 0;
  }
}

.intro {
  text-align: center;
  margin-inline: auto;
  padding-bottom: 5.5rem;
  
  &-wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  &-content {
    gap: 1rem;
    background-color: var(--color-off-white);
  }

  &-text {
    padding-inline: 1rem;
  }

  @include u.breakpoint(medium) {
    text-align: initial;
    max-width: 1112px;
    
    &-wrapper {
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
    }

    &-img, 
    &-content {
      grid-row: 1;
      align-self: end;
    }

    &-img {
      grid-column: 1 / 5;
    }

    &-content {
      grid-column: 4 / -1;
      padding: 3rem 0 0 3rem;
    }
    
    &-text {
      padding-inline: 0;
    }
  }

  @include u.breakpoint(ex-large) {
    padding-bottom: 11rem;

    &-content {
      padding: 6rem 0 0 6rem;
    }
  }

}

.product {
  max-width: 1112px;
  margin-inline: auto;
  
  &-wrapper {
    grid-template-columns: 1fr;
  }

  &-title {
    justify-self: center;
  }

  &-link {
    place-self: center;
    grid-row: 3;
  }

  @include u.breakpoint(medium) {
    &-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    &-title {
      justify-self: left;
    }

    &-link {
      justify-self: right;
      grid-row: 1;
      grid-column: 2;
    }

    &-list {
      grid-column: 2 span;
    }
  }

}

.product-list {
  grid-template-columns: 1fr;
  gap: 24px;
  margin-block: 2.5rem 2rem;

  @include u.breakpoint(medium) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  @include u.breakpoint(ex-large) {
    margin-block: 4.5rem 1.5rem;
  }
}