@use '../utils/' as u;

.vr {
  &-title {
    bottom: 20px;
    left: 20px;
  }

  @include u.breakpoint(large) {
    &-title {
      bottom: 30px;
      left: 30px;
    }
  }

  @include u.breakpoint(ex-large) {
    &-title {
      bottom: 40px;
      left: 40px;
    }
  }
}