a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.visually-hidden { 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}